ids_db:
  adapter: postgresql
  host: 10.10.10.253
  port: 5432
  encoding: utf8
  database: preludemanager
  username: preludemanager
  password: fidius09
  read_timeout: 1
  write_timeout: 1
  wait_timeout: 1
  timeout: 1
  pool: 1
  retry: 3

evasion_db:
  adapter: mysql2
  host: localhost
  port: 3306
  encoding: utf8
  database: evasion_db
  username: root
  password:
  socket: /opt/lampp/var/mysql/mysql.sock

snort-fetcher:
  # path with *.rules files 
  rule_path: /home/bernd/fidius/snort/rules/fetched
  # optional ssh credentials
  # content of folder remote_path will be copied via ssh tu rule_path
  ssh_host: 10.10.10.254
  ssh_pw: fidius09
  ssh_remote_path: /etc/snort/rules/
  ssh_user: root
